* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
#pheader {
    float: center;
    padding: 25px 25px 25px 25px;
    text-align: right;
    background-color: #ffffff;
}
/* header {
    background-color: #9f7314;
} */
#figureheader {
    float: left;
}
/* header {

} */
#pheader>a {
    padding: 25px;
}
#appdow {
    display: inline-block;
    width: 20%;
}
.appdow {
    float: right;
}
.função {
    display: inline-block;
    text-align: center;
    width: 18%;
    padding: 20px;
    /* border: 5px solid rgb(0, 0, 0); */
}
.divg {
    display: inline-block;
    text-align: center;
    width: 18%;
    padding: 20px;
    /* border: 5px solid rgb(0, 0, 0); */
}
#divfun {
    text-align: center;
}
/* julio */


.ceo > img {
    height: auto;
    width: 200px; 
    margin: 15px 10px; 
    border-radius: 5%; 
    object-fit: cover;
    border: 3px solid rgb(8, 86, 187);
}
.histor, .coment {
    background-color: rgb(136, 214, 245); 
    margin: 10px; 
    padding: 15px; 
    border-radius: 8px; 
    border: 2px solid black;
}

.ceo>article{
    width: 25%;
    display: inline-block;
}

.ceo{
    width: 1500px;
    margin:25px;
    gap: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
}





/*fim julio */
.endwid>article{
    display: inline-block;
    width: 30%;
}


.endwid{
    color: rgb(244, 244, 244);
    width: 80%;
    margin: 0 auto;
    display:flex;
    align-items: center;
    justify-content: center;
    padding:30px 0px;
    gap: 60px;
    
}

.inpt{
    width: 200px;
    padding: 3px;
    border-radius: 6px;
    border: none;
    margin-top: 5px;
}

.eightpct{
    background-color: rgb(28, 128, 78);

    
}

.btt{
    border-radius: 5px;
    padding: 3px;
    border: none;
    background-color: rgb(0, 54, 27);
    color: #ffffff;
}
