* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
#pheader {
    float: center;
    padding: 25px 25px 25px 25px;
    text-align: right;
    background-color: #ffffff;
}
/* header {
    background-color: #9f7314;
} */
#figureheader {
    float: left;
}
/* header {

} */
#pheader>a {
    padding: 25px;
}
#appdow {
    display: inline-block;
    width: 20%;
}
.appdow {
    float: right;
}
.função {
    display: inline-block;
    text-align: center;
    width: 18%;
    padding: 20px;
    /* border: 5px solid rgb(0, 0, 0); */
}
.divg {
    display: inline-block;
    text-align: center;
    width: 18%;
    padding: 20px;
    /* border: 5px solid rgb(0, 0, 0); */
}
#divfun {
    text-align: center;
}
/* julio */


.ceo > img {
    height: auto;
    width: 200px; 
    margin: 15px 10px; 
    border-radius: 5%; 
    object-fit: cover;
    border: 3px solid rgb(8, 86, 187);
}
.histor, .coment {
    background-color: rgb(136, 214, 245); 
    margin: 10px; 
    padding: 15px; 
    border-radius: 8px; 
    border: 2px solid black;
}



.coment h2 {
    margin-top: 0; 
}
.coment p {
    margin-bottom: 15px;
}
/*fim julio */

.endnewcon>article{
    width: 27%;
    display: inline-block;
    margin: 0px;
    padding:  0px;
}

.endnewcon{
    padding-left: 300px;
    padding-top: 30px;
    margin-top: 30px;
    background-color: beige;
    padding-bottom: 30px;
}